.About {
  margin: auto;
  background-color: transparent;
  display: flex;
  /* height: 100vh; */
  width: 80%;
  padding: 10% 0;
  color: white;
  justify-content: center;
}

.about-left {
  height: 100%;
  width: 40%;
  margin: 0% 2.5%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.about-left img {
  /* height: 80%; */
  /* width: auto; */
  width: 80%;
  height: auto;
  object-fit: cover;
  border-radius: 15px;
}

.about-right {
  height: 100%;
  width: 40%;
  margin: 0 2.5%;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
.about-right > .about-container {
  height: 80%;
}

.about-title {
  display: flex;
  font-weight: 700;
}

.about-locations {
  display: flex;
  font-size: 1.1rem;
  padding: 1rem 0 3rem;
}
.about-locations > div {
  margin-left: 2rem;
}

.strikethrough {
  text-decoration: line-through;
  text-decoration-color: #cd1577;
  text-decoration-color: #995c90;
}

.about-location {
  color: white;
}

.about-bio {
  height: 100%;
  font-size: 1.3rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
}


@media only screen and (min-height: 1000px) {
  .about-left img {
    height: 60%;
  }

  .about-right > .about-container {
    height: 60%;
  }
}