.Footer {
  /* width: 100%; */
  /* height: 20%; */
  /* border: 1px solid red; */
  height: clamp(3rem, 10vh, 7rem);
  display: flex;
  width: 100%;
  margin: 10% 0 2%;
}

.Footer > .identity {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10%;
  color: #995C90;
}

.Footer .copyright {
  display: flex;
}

.Footer .copyright > i {
  margin-right: .3rem;
}
.Footer > .links {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
}

.Footer .icons {
  /* height: 15rem;
  width: 15rem; */

}

.Footer .icons > i {
  text-decoration: none;
  /* font-size: 5rem; */
  font-size: 7vh;
  color: white;
}

.Footer .icons > i:hover {
  color: #cd1577;
}